.input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: auto;
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    padding: 10px;
    margin-bottom: 10px;
    font-family: system;
    font-weight: 500;
    outline: 0;
    background: white;
    display: inline-block;
}